.boards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 16px;
    padding-bottom: 32px;
    max-height: 80vh;
    overflow-y: auto;
}