.column {
    background: var(--accent-color);
    border-radius: 8px;
    padding: 8px;
    height: fit-content;
    width: 250px;
    margin-bottom: 12px;
}

.column-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    width: 234px;
}

.column-header h2 {
    text-transform: capitalize;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.column-header button {
    margin-top: 2px;
}

.column-header svg {
    height: auto;
    width: 16px;
}