:root {
    --text-color: #cfd1de;
    --text-hover-color: #e9edf8;
    --main-color: #1f2229;
    --accent-color: #242732;
    --contrast-color: #1a1c22;
    --warning-color: rgba(255, 0, 0, .3);
    --warning-hover-color: rgba(255, 0, 0, .25);
    --background-shadow: rgba(0, 0, 0, 0.75);
}